{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% load filters %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<title>{{ request.site.name }}</title>

	<!-- Citizens and Voting - question mark and trash can: -->
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap-icons.css' %}">

	<!-- Chat - like and dislike buttons, main icons -->
	<!-- https://fontawesome.com/ -->
	<link rel="stylesheet" type="text/css" href="{% static 'chat/webfonts/fontawesome.css' %}">

	<!-- Chat rooms styling: -->
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/darkly.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'chat/css/chat.css' %}">

	<!-- Chat rooms engine: -->
	<script src="{% static 'chat/js/reconnecting-websocket.js' %}"></script>

	<script src="{% static 'chat/js/jquery-4.0.0.min.js' %}"></script>

  {% bootstrap_messages %}
  {% bootstrap_javascript %}

</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-primary justify-content-end">
		<button class="navbar-toggler mx-2 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		{{ request.site.name }}
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
			<div class="navbar-nav text-end">
				
				<a {% if request.resolver_match.url_name == 'home' %} class="nav-item nav-link active mx-1 px-2" 
				{% else %} class="nav-item nav-link mx-1 px-2" 
				{% endif %} href="{% url 'home' %}">{% trans 'Start' %}</a>
				
				<a {% if request.resolver_match.namespace == 'board' %} class="nav-item nav-link active mx-1 px-2" 
				{% else %} class="nav-item nav-link mx-1 px-2" 
				{% endif %} href="{% url 'board:start' %}">{% trans "Board" %}</a>
					
				<a {% if request.resolver_match.namespace == 'events' %} class="nav-item nav-link active mx-1 px-2" 
				{% else %} class="nav-item nav-link mx-1 px-2" 
				{% endif %} href="{% url 'events:list' %}">{% trans "Calendar" %}</a>
				
				{% if user.is_authenticated %}
				<a {% if request.resolver_match.namespace == 'tasks' %} class="nav-item nav-link active mx-1 px-2" 
				{% else %} class="nav-item nav-link mx-1 px-2" 
				{% endif %} href="{% url 'tasks:list' %}">{% trans "Tasks" %}</a>
				{% endif %}
				
				{% if not user.is_authenticated %}
					<a {% if request.resolver_match.url_name == 'login' %} class="nav-item nav-link active mx-1 px-2" 
					{% else %} class="nav-item nav-link mx-1 px-2" 
					{% endif %} href="{% url 'login' %}">{% trans "Login" %}</a>
				
					<a {% if request.resolver_match.url_name == 'account_signup' %} class="nav-item nav-link active mx-1 px-2" 
					{% else %} class="nav-item nav-link mx-1 px-2" 
					{% endif %} href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
				{% endif %}

				{% if user.is_authenticated %}
					{% comment %} OBYWATELE: Has to be one by one because User Profile is Obywatele too: {% endcomment %}
					<a {% if request.resolver_match.namespace == 'obywatele' %} class="nav-item nav-link active mx-1 px-2"
					{% else %} class="nav-item nav-link mx-1 px-2"
					{% endif %} href="{% url 'obywatele:obywatele' %}">{% trans "Citizens" %}</a>

					{% comment %} GŁOSOWANIA: {% endcomment %}
					<a {% if request.resolver_match.namespace == 'glosowania' %} class="nav-item nav-link active mx-1 px-2" 
					{% else %} class="nav-item nav-link mx-1 px-2" 
					{% endif %} href="{% url 'glosowania:approved' %}">{% trans "Voting" %}</a>
					
					<a {% if request.resolver_match.namespace == 'bookkeeping' %} class="nav-item nav-link active mx-1 px-2" 
					{% else %} class="nav-item nav-link mx-1 px-2" 
					{% endif %} href="{% url 'bookkeeping:transaction_list' %}">{% trans 'Bookkeeping' %}</a>

					<a {% if request.resolver_match.namespace == 'elibrary' %} class="nav-item nav-link active mx-1 px-2" 
					{% else %} class="nav-item nav-link mx-1 px-2" 
					{% endif %} href="{% url 'elibrary:book_list' %}">{% trans "eLibrary" %}</a>

					
					<a class="nav-item nav-link rounded mx-1 px-2 
					{% if request.resolver_match.namespace == 'chat' %}
						active 
					{% else %}
						{{ request.user|has_messages }} 
					{% endif %}"
					data-route="chat" href="/chat/">{% trans "Chat" %}</a>

					<a {% if request.resolver_match.url_name == 'my_profile' or request.resolver_match.url_name == 'haslo' or request.resolver_match.url_name == 'my_assets' or request.resolver_match.url_name == 'change_email' or request.resolver_match.url_name == 'change_name' or request.resolver_match.url_name == 'change_username' %}
						class="nav-item nav-link mx-1 px-2 fas fa-user active fs-3"
				 	{% else %}
						class="nav-item nav-link mx-1 px-2 fas fa-user fs-3"
					{% endif %} 
					href="{% url 'obywatele:my_profile' %}"></a>

					<a class="nav-item nav-link mx-1 px-2" href="{% url 'account_logout' %}">
						<i class="fas fa-solid fa-right-from-bracket fs-3"></i>
					</a>

				{% endif %}
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		{% block content_fullscreen %}{% endblock content_fullscreen%}
	</div>

	<div class="container body-content">
		<p>{% block content %}{% endblock content %}</p>
	</div>

	{% if request.resolver_match.url_name != 'chat' %}
		<div class="container">
			{{ footer.text|safe }}
		</div>
	{% endif %}

{% comment %} Needed for chat {% endcomment %}
{% block extra_body %}{% endblock %}

{% block notifications_script %}
	<script src="{% static 'chat/js/reconnecting-websocket.js' %}"></script>
	<script type="module" src="{% static 'chat/js/notifications.js' %}"></script>
{% endblock notifications_script %}
 
</body>
</html>
