{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}
{% load filters %}

{% block content_fullscreen %}
  <link rel="stylesheet" href="{% static 'chat/css/photoswipe/photoswipe.css' %}" />
  <link rel="stylesheet" href="{% static 'chat/css/photoswipe/default-skin.css' %}" />
  <script src="{% static 'chat/js/photoswipe/photoswipe.min.js' %}"></script>
  <script src="{% static 'chat/js/photoswipe/photoswipe-ui-default.min.js' %}"></script>

  <script>
    $(document).ready(function () {
      $('#toggleButtonPubActive').click(function () {
        $('#content-pub-active').slideToggle(300)
      })
      $('#toggleButtonPubArchive').click(function () {
        $('#content-pub-archive').slideToggle(300)
      })
      $('#toggleButtonPrvActive').click(function () {
        $('#content-prv-active').slideToggle(300)
      })
      $('#toggleButtonPrvArchive').click(function () {
        $('#content-prv-archive').slideToggle(300)
      })
    })
    
    window.onload = function () {
      let acc = document.getElementsByClassName('accordion')
      for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener('click', function () {
          this.classList.toggle('activated')
        })
      }
    }
  </script>

  <!-- ============================================================= -->

  <div class="chat-page-header"></div>

  <div class="row chat-rooms">
    <!-- Messages and Input field -->
    <div class="chat-root-messages col-md-7"></div>

    <!-- Room list -->
    <div class="room-list col-md-5">
      <div class="row">
        <div class="col p-1">
          <!-- Public active -->
          <p class="mt-0 mb-0 text-muted">
            <button class="btn accordion activated" id="toggleButtonPubActive">{% trans 'Rooms' %}</button>
            <a class="btn" href="{% url 'chat:add_room' %}"><i class="fas fa-plus"></i></a>
            <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="left" title="{% trans 'Public chat rooms are archived if they are not used for' %} {{ ARCHIVE_PUBLIC_CHAT_ROOM }} {% trans 'days. After' %} {{ DELETE_PUBLIC_CHAT_ROOM }} {% trans 'days they are deleted. Private messages are archived when user is blocked and deleted after' %} {{ DELETE_PUBLIC_CHAT_ROOM }} {% trans 'days' %}."></i>
          </p>
          <div id="content-pub-active" class="list-of-rooms">
            {% for room in public_active %}
              {% include 'chat/room_link.html' %}
            {% empty %}
              <p class="text-muted text-center">
                {% trans 'None' %}
              </p>
            {% endfor %}
          </div>

          <!-- Public archived -->
          <p class="mt-0 mb-0 text-muted">
            <button class="btn accordion" id="toggleButtonPubArchive">{% trans 'Archived' %}</button>
          </p>
          <div id="content-pub-archive" class="list-of-rooms">
            {% for room in public_archived %}
              {% include 'chat/room_link.html' %}
            {% empty %}
              <p class="text-muted text-center">
                {% trans 'None' %}
              </p>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- Private -->
      <div class="row">
        <div class="col p-1">
          <!-- Private active -->
          <p class="mt-0 mb-0 text-muted">
            <button class="btn accordion activated" id="toggleButtonPrvActive">{% trans 'Private Messages' %}</button>
          </p>
          <div id="content-prv-active" class="list-of-pms">
            {% for room in private_active %}
              {% include 'chat/room_link.html' %}
            {% empty %}
              <p class="text-muted text-center">
                {% trans 'None' %}
              </p>
            {% endfor %}
          </div>
          <!-- Private archived -->
          <p class="mt-0 mb-0 text-muted">
            <button class="btn accordion" id="toggleButtonPrvArchive">{% trans 'Private Archived' %}</button>
          </p>
          <div id="content-prv-archive" class="list-of-pms">
            {% for room in private_archived %}
              {% include 'chat/room_link.html' %}
            {% empty %}
              <p class="text-muted text-center">
                {% trans 'None' %}
              </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ======================================================================== -->

  <!-- Bootstrap modal for changes history -->
  <div id="message-history-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% trans 'Changes history' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->

  <!-- ======================================================================== -->

  <div class="pswp" tabindex="-1" role="dialog">
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <!-- Controls are self-explanatory. Order can be changed. -->
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

          <!--                                               
           Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR 
           element will get class pswp__preloader
           active when preloader is running  -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const LAST_USED_ROOM_ID = {{ last_used_room|default:"null"|safe }};
    const TRANSLATIONS = {{ translations|default:"{}"|safe }};
  </script>
{% endblock %}

{% block extra_body %}
  <script type="module" src="{% static 'chat/js/chat.js' %}"></script>
  <script src="{% static 'chat/js/ejs.min.js' %}"></script>
{% endblock %}
