{% load i18n filters %}


<div class="room-link {{ room|seen_by:user }}"
  data-room-type="{% if room.public %}public{% else %}private{% endif %}"
  data-room-id="{{ room.id }}"
  data-room-archived="{{ room.archived }}">
  {% if room.archived %}
    <i class="fas fa-lock nav-status nav-status--locked" aria-hidden="true"></i>
  {% elif room|is_seen_by:user == "false" %}
    <span class="nav-status nav-status--unread" aria-label="{% trans 'Unread' %}"></span>
  {% else %}
    <span class="nav-status nav-status--read" aria-hidden="true"></span>
  {% endif %}
  <div class="room-name flex-grow-1">
    {% if override_label %}{{ override_label }}{% else %}{{ room|name_for:user }}{% endif %}
  </div>

  <div class="room-controls">
    <button type="button"
      class="btn btn-link btn-sm p-0 seen-switch"
      data-room-id="{{ room.id }}"
      data-seen="{{ room|is_seen_by:user }}"
      title="{% trans 'Mark as unread' %}"
      aria-label="{% blocktrans with room_name=room|name_for:user %}Mark room {{ room_name }} as unread{% endblocktrans %}">
      <i class="fas fa-eye{% if room|is_seen_by:user == "true" %}{% else %}-slash{% endif %}"></i>
    </button>
    <button type="button"
      class="btn btn-link btn-sm p-0 notif-switch"
      data-room-id="{{ room.id }}"
      data-enabled="{% if room|is_muted_by:user %}false{% else %}true{% endif %}"
      title="{% trans 'Toggle notifications (chat and email)' %}"
      aria-label="{% blocktrans with room_name=room|name_for:user %}Toggle notifications for room {{ room_name }}{% endblocktrans %}">
      <i class="far fa-bell{% if room|is_muted_by:user %}-slash{% endif %}"></i>
    </button>
    <button type="button"
      class="btn btn-link btn-sm p-0 copy-link-btn copy-room-url"
      data-room-id="{{ room.id }}"
      title="{% trans 'Copy link' %}"
      aria-label="{% blocktrans with room_name=room|name_for:user %}Copy link to room {{ room_name }}{% endblocktrans %}">
      <i class="fas fa-link"></i>
    </button>
  </div>
</div>
