{% extends "home/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
{% load i18n %}

{% block content %}

<link rel="stylesheet" href="{% static 'board/board.css' %}">

<div class="d-flex justify-content-between align-items-center mb-4">
  {% if user.is_authenticated %}
    <a href="{% url 'board:create_post' %}" class="btn btn-primary">+{% trans 'Create post' %}</a>
    <a href="{% url 'board:archive' %}" class="btn btn-secondary">{% trans 'Archive' %}</a>
  {% endif %}
</div>

<div class="row d-flex justify-content-center">
  {% if posts_pinned %}
    <div class="col-12 board-section board-section--pinned">
      <div class="row d-flex justify-content-center">
        {% for post in posts_pinned %}
          <a href="{% url 'board:view_post' post.pk %}" class="col-md-5 ms-2 board-post-card board-post-card--pinned text-reset text-decoration-none d-block">
            <h3 class="text-decoration-underline">{{ post.title }}</h3>
            {% if post.subtitle %}
              <h5>{{ post.subtitle }}</h5>
            {% endif %}
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">
                {% trans "Updated" %}: {{ post.updated|date:"Y-m-d H:i" }} {% if post.is_public %} | {% trans "Public" %} {% endif %}
              </small>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if posts_not_pinned %}
    <div class="col-12 mb-2 board-section board-section--regular">
      <div class="row d-flex justify-content-center">
        {% for post in posts_not_pinned %}
          <a href="{% url 'board:view_post' post.pk %}" class="col-md-5 ms-2 mb-2 board-post-card text-reset text-decoration-none d-block">
            <h3 class="text-decoration-none">{{ post.title }}</h3>
            {% if post.subtitle %}
              <h5>{{ post.subtitle }}</h5>
            {% endif %}
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">
                {% trans "Updated" %}: {{ post.updated|date:"Y-m-d H:i" }} {% if post.is_public %} | {% trans "Public" %} {% endif %}
              </small>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if not posts_pinned and not posts_not_pinned %}
    <div class="col-12">
      <p>{% trans "No records found." %}</p>
    </div>
  {% endif %}
</div>

{% endblock %}