<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
<body>
  
{% extends 'home/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>{% trans 'Edit post' %}</h2>
  {{ form.initial.id }}
  <form method="POST" class="post-form">
    {% csrf_token %}
    {{ form.title|as_crispy_field }}
    {{ form.subtitle|as_crispy_field }}
    {{ form.category|as_crispy_field }}
    <div class="d-flex gap-3 mb-3">
      {{ form.is_public|as_crispy_field }}
      {{ form.is_archived|as_crispy_field }}
      {{ form.is_important|as_crispy_field }}
    </div>
    {{ form.text|as_crispy_field }}

    <script src="{% static 'tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
    <script src="{% static 'js/uploader.js' %}"> </script>
      
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
      <a href="{% url 'board:view_post' form.instance.pk %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
    </div>
  </form>

{% endblock %}
</body>
</html>