{% extends 'home/base.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-4">
  <div class="row mb-4">
    <div>
      <a href="{% url 'bookkeeping:transaction_list' %}" class="btn btn-sm me-1 mb-1 btn-secondary">{% trans 'Transactions' %}</a>
      <a href="{% url 'bookkeeping:partner_list' %}" class="btn btn-sm me-1 mb-1 btn-secondary">{% trans 'Partners' %}</a>
      <a href="{% url 'bookkeeping:category_list' %}" class="btn btn-sm me-1 mb-1 btn-primary">{% trans 'Categories' %}</a>
      <a href="{% url 'bookkeeping:report_list' %}" class="btn btn-sm me-1 mb-1 btn-secondary">{% trans 'Reports' %}</a>
      <a href="{% url 'bookkeeping:category_create' %}" class="btn btn-sm me-1 mb-1 btn-success float-end">
        <i class="fas fa-plus-circle"></i> {% trans 'Add Category' %}
      </a>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'Name' %}</th>
        <th class="text-end">{% trans 'Actions' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for category in object_list %}
        <tr>
          <td>{{ category.name }}</td>
          <td>
            <div class="btn-group float-end" role="group">
              <a href="{% url 'bookkeeping:category_update' category.id %}" class="btn btn-sm me-1 mb-1 btn-primary">{% trans 'Edit' %}</a>
              <a href="{% url 'bookkeeping:category_delete' category.id %}" class="btn btn-sm me-1 mb-1 btn-danger">{% trans 'Delete' %}</a>
            </div>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">{% trans 'No records found.' %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
