{% extends 'home/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
  <div class="row mb-4">
    <div class="col">
    </div>
    <div>
      <a href="{% url 'bookkeeping:transaction_list' %}" class="btn btn-sm me-1 mb-1 btn-secondary">{% trans 'Transactions' %}</a>
      <a href="{% url 'bookkeeping:partner_list' %}" class="btn btn-sm me-1 mb-1 btn-secondary">{% trans 'Partners' %}</a>
      <a href="{% url 'bookkeeping:category_list' %}" class="btn btn-sm me-1 mb-1 btn-primary">{% trans 'Categories' %}</a>
      <a href="{% url 'bookkeeping:report_list' %}" class="btn btn-sm me-1 mb-1 btn-secondary">{% trans 'Reports' %}</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        
        <div class="card mb-3">
          <div class="card-header bg-info text-white">
            <h4>{% if form.instance.pk %} {% trans "Update Category" %} {% else %} {% trans "New Category" %} {% endif %}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                {{ form.name|as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">{% trans "Save Category" %}</button>
          <a href="{% url 'bookkeeping:category_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
