{% extends 'home/base.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-4">
  <div class="row mb-4">
    <div>
      <a href="{% url 'bookkeeping:partner_create' %}" class="btn btn-sm me-1 mb-1 btn-success float-end">
        <i class="fas fa-plus-circle"></i> {% trans 'Add Partner' %}
      </a>
      <a href="{% url 'bookkeeping:transaction_list' %}" class="btn btn-sm me-1 mb-1 btn-secondary">{% trans 'Transactions' %}</a>
      <a href="{% url 'bookkeeping:partner_list' %}" class="btn btn-sm me-1 mb-1 btn-primary">{% trans 'Partners' %}</a>
      <a href="{% url 'bookkeeping:category_list' %}" class="btn btn-sm me-1 mb-1 btn-secondary">{% trans 'Categories' %}</a>
      <a href="{% url 'bookkeeping:report_list' %}" class="btn btn-sm me-1 mb-1 btn-secondary">{% trans 'Reports' %}</a>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Email' %}</th>
        <th>{% trans 'Phone Number' %}</th>
        <th>{% trans 'Web Page' %}</th>
        <th>{% trans 'Address' %}</th>
        <th>{% trans 'City' %}</th>
        <th>{% trans 'Country' %}</th>
        <th class="text-end">{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for partner in object_list %}
        <tr>
          <td>{{ partner.name }}</td>
          <td>{{ partner.email }}</td>
          <td>{{ partner.phone }}</td>
          <td>
            {% if partner.web_page %}
              {% if partner.web_page|slice:":4" == "http" %}
                <u><a href="{{ partner.web_page }}" target="_blank" rel="noopener noreferrer">{{ partner.web_page }}</a></u>
              {% else %}
                <u><a href="https://{{ partner.web_page }}" target="_blank" rel="noopener noreferrer">{{ partner.web_page }}</a></u>
              {% endif %}
            {% else %}
              —
            {% endif %}
          </td>
          <td>{{ partner.address }}</td>
          <td>{{ partner.city }}</td>
          <td>{{ partner.country }}</td>
          <td>
            <div class="btn-group float-end" role="group">
              <a href="{% url 'bookkeeping:partner_update' partner.pk %}" class="btn btn-sm me-1 mb-1 btn-primary">{% trans 'Edit' %}</a>
              <a href="{% url 'bookkeeping:partner_delete' partner.pk %}" class="btn btn-sm me-1 mb-1 btn-danger">{% trans 'Delete' %}</a>
            </div>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="9">{% trans 'No records found.' %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
