{% extends 'home/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
  <div class="row mb-4">
    <div>
      <a href="{% url 'bookkeeping:transaction_create' %}" class="btn btn-sm me-1 mb-1 btn-success float-end">
        <i class="fas fa-plus-circle"></i> {% trans 'Add Transaction' %}
      </a>
      <a href="{% url 'bookkeeping:transaction_list' %}" class="btn btn-sm me-1 mb-1 btn-primary">{% trans 'Transactions' %}</a>
      <a href="{% url 'bookkeeping:partner_list' %}" class="btn btn-sm me-1 mb-1 btn-secondary">{% trans 'Partners' %}</a>
      <a href="{% url 'bookkeeping:category_list' %}" class="btn btn-sm me-1 mb-1 btn-secondary">{% trans 'Categories' %}</a>
      <a href="{% url 'bookkeeping:report_list' %}" class="btn btn-sm me-1 mb-1 btn-secondary">{% trans 'Reports' %}</a>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Created" %}</th>
        <th>{% trans "Partner" %}</th>
        <th>{% trans "Category" %}</th>
        <th>{% trans "Amount" %}</th>
        <th class="text-end">{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
        <tr>
          <td>
            <a
              href="#transaction-details-{{ transaction.id }}"
              data-bs-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="transaction-details-{{ transaction.id }}"
              class="text-decoration-none"
            >
              {% if transaction.type == 'I' %}
                <small class="text-success">{% trans "Incoming" %}</small>
              {% else %}
                <small class="text-danger">{% trans "Outgoing" %}</small>
              {% endif %}
            </a>
          </td>
          <td>{{ transaction.payment_received_date|date:"Y-m-d" }}</td>
          <td>{{ transaction.partner }}</td>
          <td>{{ transaction.category|default:"-" }}</td>
          <td>{{ transaction.amount }}</td>
          <td>
            <div class="btn-group float-end" role="group">
              <a href="{% url 'bookkeeping:transaction_update' transaction.id %}" class="btn btn-sm me-1 mb-1 btn-primary">{% trans "Edit" %}</a>
              <a href="{% url 'bookkeeping:transaction_delete' transaction.id %}" class="btn btn-sm me-1 mb-1 btn-danger">{% trans "Delete" %}</a>
            </div>
          </td>
        </tr>
        <tr class="collapse" id="transaction-details-{{ transaction.id }}">
          <td colspan="6" class="bg-secondary text-white">
            <small>{{ transaction.note|default:"-" }}</small>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">{% trans "No records found." %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
