{% extends "home/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<h1>{% trans "Your account is inactive" %}</h1>

<p>{% trans "In the meantime, please complete the form with basic information." %}</p>

<p>
  <a href="{% url 'obywatele:onboarding_details' %}" class="btn btn-primary">
    {% trans "Fill out onboarding form" %}
  </a>
</p>

<p>{% trans "After filling out the form, you'll need to wait a moment for community approval. You'll receive an email once it's been approved." %}</p>
{% endblock %}
