{% extends "home/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<h1>{% trans "Your account is inactive" %}</h1>

<p>{% trans "Your account has been created but is currently inactive. Please fill out the onboarding form to continue the registration process." %}</p>

<p>
  <a href="{% url 'obywatele:onboarding_details' %}" class="btn btn-primary">
    {% trans "Fill out onboarding form" %}
  </a>
</p>

<p>{% trans "After submitting the onboarding form, you will need to wait for community approval. You will receive an email once your account is activated." %}</p>
{% endblock %}
