{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<p>
	<div class="alert alert-danger text-center p-0">
		{% trans 'A referendum is not a one-off decision. The referendum is to pass a law that will be in force all the time.' %}
	</div>
</p>

<div class="container mt-12">
  <div class="row mb-12">
    <div>
		<a {% if request.path_info == '/glosowania/parameters/' %} class="btn btn-sm me-1 mb-1 btn-primary"
		{% else %} class="btn btn-sm me-1 mb-1 btn-secondary"
		{% endif %} href="{% url 'glosowania:parameters' %}"><i class="fas fa-question"></i></a>

		<a {% if request.path_info == '/glosowania/proposition/' %} class="btn btn-sm me-1 mb-1 btn-primary"
		{% else %} class="btn btn-sm me-1 mb-1 btn-secondary"
		{% endif %} href="{% url 'glosowania:proposition' %}">{% trans 'Propositions' %}</a>

		<a {% if request.path_info == '/glosowania/discussion/' %} class="btn btn-sm me-1 mb-1 btn-primary"
		{% else %} class="btn btn-sm me-1 mb-1 btn-secondary"
		{% endif %} href="{% url 'glosowania:discussion' %}">{% trans 'Discussion' %}</a>

		<a {% if request.path_info == '/glosowania/referendum/' %} class="btn btn-sm me-1 mb-1 btn-primary"
		{% else %} class="btn btn-sm me-1 mb-1 btn-secondary"
		{% endif %} href="{% url 'glosowania:referendum' %}">{% trans 'Referendum' %}</a>

		<a {% if request.path_info == '/glosowania/approved/' %} class="btn btn-sm me-1 mb-1 btn-primary"
		{% else %} class="btn btn-sm me-1 mb-1 btn-secondary"
		{% endif %} href="{% url 'glosowania:approved' %}">{% trans 'Approved' %}</a>

		<a {% if request.path_info == '/glosowania/rejected/' %} class="btn btn-sm me-1 mb-1 btn-primary"
		{% else %} class="btn btn-sm me-1 mb-1 btn-secondary"
		{% endif %} href="{% url 'glosowania:rejected' %}"><i class="fas fa-trash"></i></a>


		<a href="{% url 'glosowania:dodaj_nowy' %}"class="btn btn-sm me-1 mb-1 btn-success float-end"><i class="fas fa-plus"></i>{% trans 'Add' %}</a>
    </div>
  </div>
</div>

<p>
	{% block glosowania %}
	{% endblock glosowania %}
</p>

{% endblock content %}