{% extends 'glosowania/menu.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
{% load i18n %}

{% block glosowania %}

<div class="container mt-4">
	<div class="row">
		<div class="col text-center">
			<h5>{% trans "Voting parameters" %}</h5>
		</div>
	</div>
</div>

<p>{% trans "New proposal needs to gather" %} <span class="badge text-bg-primary rounded-pill">{{ signatures }}</span> {% trans "signatures in order to trigger referendum. This number should remain low enough for any sensible proposal to be voted on, and only high enough to filter out obvious spam." %}</p>
<p>{% trans "Maximum time to gather signatures is" %} <span class="badge text-bg-primary rounded-pill">{{ signatures_span }}</span> {% trans "days. If there is not enough signatures - after this time, proposal is rejected." %}</p>
<p>{% trans "Queue and discussion before referendum lasts" %} <span class="badge text-bg-primary rounded-pill">{{ queue_span }}</span> {% trans "days." %}</p>
<p>{% trans "Referendum lasts for" %} <span class="badge text-bg-primary rounded-pill">{{ referendum_span }}</span> {% trans "days." %}</p>
<p>{% trans "If you want to change any of" %} <span class="badge text-bg-primary rounded-pill">{% trans "marked" %}</span> {% trans "parameters - create referendum." %}</p>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-10">
			<img src="/static/glosowania/schemat3_pl.jpg" class="img-fluid border" alt="Proces głosowania w Wikikracji">
		</div>
	</div>
</div>

{% endblock glosowania %}