{% extends 'glosowania/menu.html' %}
{% load static %}
{% load i18n %}

{% block glosowania %}
<div class="d-flex justify-content-end mb-2">
  {% if user.is_authenticated %}
  <a href="{% url 'glosowania:dodaj_nowy' %}" class="btn btn-sm btn-primary">
    <i class="fas fa-plus me-1"></i>{% trans "Dodaj" %}
  </a>
  {% endif %}
</div>
{% include 'glosowania/_view_toggle.html' %}

<div class="proposals-list" id="proposals-list">
  {% if votings %}
    {% for i in votings %}
      {% include 'glosowania/_proposal_card.html' with show_dates=False %}
    {% endfor %}
  {% else %}
    <div class="proposals-empty">
      <i class="fas fa-inbox fa-2x mb-2"></i>
      <div>{% trans 'There is no proposal with this status' %}</div>
    </div>
  {% endif %}
</div>

{% include 'glosowania/_card_script.html' %}
{% endblock glosowania %}
