{% extends 'glosowania/menu.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
{% load i18n %}

{% block glosowania %}

<style>
  .chat-room-pulse {
    animation: text-flash 2s infinite;
  }
  @keyframes text-flash {
    0%, 100% {
      opacity: 1;
      color: #0d6efd;
    }
    50% {
      opacity: 0.3;
      color: #0d6efd;
    }
  }
</style>

<div class="container mt-4">
	<p>
		{% if votings %}
			{% for i in votings %}
				<p>
					<h5>
						{{ i.pk }}. <a href="{% url 'glosowania:details' pk=i.pk %}">{{ i.title }}</a>
						{% if i.chat_room %}
							<a href="{% url 'chat:chat' %}#room_id={{ i.chat_room.id }}" target="_blank" class="text-decoration-none ms-3 {{ i.chat_room_pulse_class }}">
								<i class="bi bi-chat-dots"></i>
							</a>
						{% endif %}
					</h5>
					{{ i.tresc|linebreaksbr }}
				</p>
				<p>
					<b>{% trans 'Start referendum' %}: </b>{{ i.data_referendum_start|date:"Y-m-d"|linebreaksbr }}
					<br>
					<b>{% trans 'End referendum' %}: </b>{{ i.data_referendum_stop|date:"Y-m-d"|linebreaksbr }}
				</p>
			{% endfor %}
		{% else %}
			<div class="alert alert-dark">({% trans 'There is no proposal with this status' %})</div>
		{% endif %}
	</p>
</div>

{% endblock glosowania %}