{% extends 'glosowania/menu.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
{% load i18n %}

{% block glosowania %}

<div class="container mt-4">
	<p>
		{% if votings %}
			{% for i in votings %}
				<p>
					<h5>
						{{ i.pk }}. <a href="{% url 'glosowania:details' pk=i.pk %}">{{ i.display_title }}</a>
						{% if i.chat_room %}
							<a href="{% url 'chat:chat' %}#room_id={{ i.chat_room.id }}" target="_blank" class="text-decoration-none ms-3 {{ i.chat_room_pulse_class }}">
								<i class="fas fa-comments"></i>
							</a>
						{% endif %}
					</h5>
					{{ i.tresc|linebreaksbr }}
				</p>
				<p>
					<b>{% trans 'Start referendum' %}: </b>{{ i.data_referendum_start|date:"Y-m-d"|linebreaksbr }}
					<br>
					<b>{% trans 'End referendum' %}: </b>{{ i.data_referendum_stop|date:"Y-m-d"|linebreaksbr }}
				</p>
			{% endfor %}
		{% else %}
			<div class="alert alert-dark">({% trans 'There is no proposal with this status' %})</div>
		{% endif %}
	</p>
</div>

{% endblock glosowania %}